div.gallery {
  border: 1px solid #ccc;
text-align: center;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 20%;
  height: auto;
}

div.desc {
  padding: 10px;
  text-align: center;
}

